@mainColor:#E2001A;
@containerColor:#f15b00;
@widthBorderColor:#f60025;
@miniBorderColor:#CDFFFF;
.pages{
  position: relative;
}
.info{
  padding:10px 30px;
  display: flex;
  justify-content: space-between;
  width:100%;
  background-color: @mainColor;
  box-sizing: border-box;
  h1{
    color:#FFF;
  }
}
.container{
  border:5px dashed @widthBorderColor;
  background-color:@containerColor;
  display: flex;
  .route{
    height:200px;
    width:20%;
  }
  .showInfo{
    height:200px;
    width:80%;
    box-sizing: border-box;
    border-left:1px solid @miniBorderColor;
  }
}
footer{
  height: 300px;
}