@mainColor:#e41d0a;
@containerColor:#000;
@borderColor:#1317f3;
.pages{
  position: relative;
}
.info{
  display: flex;
  justify-content: space-between;
  width:100%;
  background-color: @mainColor;
  border:5px dashed @borderColor;
  box-sizing: border-box;
  h1{
    color:#CCC;
  }
}
.container{
  background-color:@containerColor;
  display: flex;
  .route{
    height:200px;
    width:20%;
  }
  .showInfo{
    height:200px;
    width:80%;
    box-sizing: border-box;
    border-left:1px solid @borderColor;
  }
}
footer{
  height: 300px;
}